html {

        background-color: rgb(238, 216, 188);
}

 body nav ul li {


    text-decoration : none;

    padding: 30px;

    display: inline-block;

    border-radius: 50px;


}

li a {

    text-decoration: none;

    margin-left: 60px;
    padding: 30px;
    background-color: rgb(160, 102, 160);

    font-style: oblique;
    color: rgb(85, 70, 70);
    font-size: 20px;
    border-color: rgb(20, 15, 20);
    border-radius: 30px;
    display: inline;
    margin-left: 80px;
    
    
}

header h1 {


text-align: center;
background-color: floralwhite;
font-style: unset;
font-weight: bolder;
color: teal;
padding: 30px;

}

img {

    background-color: rgb(49, 48, 48);
    padding: 5px;

    
}

p {

    text-align: center;
    font-size: 30px;
    font-style: italic;
}



section {

    text-decoration-style: double;
    max-width: 240px;

  }
  
  .shape {

    display: inline-block;
    
    width: 150px;
    height: 150px;
    background-color: maroon;
    clip-path: circle();
    shape-outside: circle();
    shape-margin: 20px;
  }

  .circle{

    width: 150px;
    height: 150px;
    border-radius: 70%;

    color: darkkhaki;
    text-align:center ;
    background-color: rgb(118, 133, 104);
    float: left;
    padding: 15px;
    
  }

  div {

text-align: center;
font-style: italic;
font-size: 120%;




  }




  
